<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <add key="MicrosoftSpeechApiKey" value="f2ebdc9d623643918fdaa0c2bc2ef39d" />
  </appSettings>
</configuration>